html, body  {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    height: 100%;

}

.hero-text, .header, .hero-content  {
    background-color: #1F2937;
}

.hero-text p, .header li, .hero-text button  {
    font-size: 18px;
    color: #F9FAF8;
}

.header  {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 500px;
    flex-wrap: wrap;
}

.logo  {
    color: #F9FAF8;
    font-size: 24px;
    background-color: #1F2937;
    font-weight: 600;
}

.header ul  {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

.header a  {
    text-decoration: none;
}

.hero-content  {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 70px;
    align-items: flex-start;
    flex-wrap: wrap;

}
.hero-content img  {
    height: auto;
    width: 500px;
    flex: initial;
    
}
.hero-text h1  {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-text  {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.hero-text button  {
    background-color: #3882F6;
    padding: 10px;
    align-self: flex-start;
    font-weight: 500;
    border: none;
    border-radius: 12px;
}

.info-header  {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    align-self: center;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.content  {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.text-img-pair img  {
    width: 170px;
    height: auto;
    border: 6px solid #3882F6;
    border-radius: 12px;
}

.text-img-pair p  {
    width: 170px;
    text-align: center;
}

.quote  {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote-text  {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
    width: 800px;
    align-self: center;
}
.quote-person  {
    font-weight: 800;
    font-size: 16px;
    width: 800px;
    text-align: right;
    align-self: center;
}

